<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
  <hr />
  <h2>Categorias</h2>
  <a class="btn btn-success" href="/admin/categories/new"
    >Criar nova categoria</a
  >
  <hr />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>TÍTULO</th>
        <th>SLUG</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category => {%>
      <tr>
        <th><%= category.id%></th>
        <th><%= category.title%></th>
        <th><%= category.slug%></th>
        <th>
          <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>

          <form
            onsubmit="confirmDelection(event, this);"
            action="/categories/delete"
            method="POST"
            style="display: inline;"
          >
            <input type="hidden" name="id" value="<%= category.id %>" />
            <button class="btn btn-danger">Deletar</button>
          </form>
        </th>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../partials/footer.ejs') %>

<script>
  function confirmDelection(event, form) {
    event.preventDefault(); //impedir que o formulario seja submetido
    var decision = confirm("Deseja deletar esta categoria?");
    if (decision) {
      form.submit();
      alert("Você deletou a categoria!");
    } else {
      alert("Você não deseja deletar a categoria!");
    }
  }
</script>
